body {
    background-image: url("img/dnd_bg_2560.jpg");
    background-size: cover;
    margin: 1%;
    font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
}

h1 {
    color: rgba(255, 255, 255, 0.8);
}

h2 {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 7px #053c49;
}

h3 {
    /*text-shadow: 1px 1px rgb(45, 59, 59); */
    color: #a5effa;
    text-shadow: 0 0 5px #000000;
    font-size: larger;
}

h4 {
    text-transform: capitalize;
    line-height: 0%;
    font-size: large;
    color: rgb(149, 231, 243);
    text-shadow: 0 0 5px #000000;
}

.navBar {
    display: flex;
    flex-direction: row;
}

.weekLinksBar {
    display: flex;
    flex-direction: row;
    gap: 1px;
    flex-wrap: wrap;
}

.weekLinks {
    font-size: larger;
    padding: 10px 15px;
    border: 1px solid rgba(211, 211, 211, 0.5);
    background-color: rgba(224, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
    color: white;
}

.weekLinks:hover {
    background-color: rgba(183, 214, 214, 0.5);
}

/*
.weekLinks:last-child {
    border: 1px solid rgba(211, 211, 211, 0.2);
    background-color: rgba(224, 255, 255, 0.2);
}
*/

.charLinksBar {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-self: flex-end;
    margin-left: auto;
}

.charLinks {
    font-size: larger;
    padding: 10px 15px;
    border: 1px solid rgba(173, 173, 173, 0.5);
    transition: all 0.2s ease-in-out;
    color: white;
}

.activeCharButton {
    font-size: larger;
    padding: 10px 15px;
    border: 1px solid rgba(173, 173, 173, 0.5);
    transition: all 0.2s ease-in-out;
    color: white;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.graphContainer {
    padding: 10px;
    width: 500px;
}

.graphTitle {
    text-align: center;
}

#graphSection {
    background-color: rgba(0, 0, 0, 0.2);
}

#allGraphsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#graphSectionTitle {
    font-size: xx-large;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
}

.footerText {
    color: rgba(255, 255, 255, 0.8);
    font-size: small;
    font-style: italic;
}



/* Character Stats Page */

#charPageBoxesContainer {
    display: flex;
    gap: 20px;
}

.charPageBox {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    width: 500px;
    height: 740px;
    outline: none;
    box-shadow: 0 0 10px #00293b;
    overflow-y: hidden;
    overflow-x: hidden;
}

.charPageBox:hover {
    overflow-y: auto;
    overflow-x: auto;
}

.allRolls {
    font-size: small;
    font-style: italic;
    line-height: 0%;
    color: rgb(15, 15, 15);
    color: rgb(191, 204, 203);
}

.quickStats {
    font-size: large;
    color: rgb(210, 239, 240);
    padding-bottom: 5px;
}


/* Char Buttons */
#casmenosButton {
    background-color: rgba(143, 0, 0, 0.5);
}

#casmenosButton:hover {
    background-color: rgba(107, 0, 0, 0.5);
}

#alwinButton {
    background-color: rgba(21, 57, 158, 0.5);
}

#alwinButton:hover {
    background-color: rgba(15, 42, 116, 0.5);
}

#explosionButton {
    background-color: rgba(255, 98, 0, 0.5);
}

#explosionButton:hover {
    background-color: rgba(202, 79, 2, 0.5);
}

#draconeButton {
    background-color: rgba(40, 40, 40, 0.5);
}

#draconeButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#ruuskButton {
    background-color: rgba(137, 85, 189, 0.5);
}

#ruuskButton:hover {
    background-color: rgba(115, 71, 158, 0.5);
}

#glaceButton {
    background-color: rgba(17, 145, 15, 0.5);
}

#glaceButton:hover {
    background-color: rgba(15, 122, 13, 0.5);
}


/* Custom Scrollbars */
.charPageBox::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
   
.charPageBox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.charPageBox::-webkit-scrollbar-thumb {
    background-color: #6ba2ac;
    outline: 1px solid #537f86;
}